[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Shutdown
Comment=Play a sound on shutdown
Exec=canberra-gtk-play -f /usr/share/sounds/modern-minimal-ui-sounds/stereo/_desktop-logout.oga
OnlyShowIn=XFCE;
RunHook=2
StartupNotify=false
Terminal=false
Hidden=false